html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Merriweather;
}

.h1font {
	font-size: 50px;
	font-family: Merriweather;
	text-shadow: 0px 0px 4px #fff;
}

.p {
	font-size: 25px;
	width: 70%;
	margin: 0 auto;
	font-family: Merriweather;
	text-shadow: 0px 0px 4px #fff;

}

.buttonp {
	font-size: 18px;
}

.div1 {
	background: url(beach.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

.div2 {
	background-image: url(snow.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

.centeralign {
	align-self: center;
}

.skip {
	font-size: 15px;
}

.skiplink {
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
