/* Colour scheme: dark navy- #2B3A42 navy- #3F5765 blue- #BDD4DE light blue- #EFEFEF red- #E74C3C yellow- #FFD34E */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Merriweather;
  font-weight: normal;
  background: #EFEFEF;
}

.p {
	color: #9F9F9F;
	font-size: 20px;
}

.p2 {
	color: #9F9F9F;
	font-size: 12px;
}

.skiplink {
	color: #9F9F9F;
	text-decoration: underline;
}

button:hover {
	cursor: pointer;
}

.material-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.material-form .container {
  background: #2B3A42;
  padding: 20px;
  width: 400px;
  margin-top: 10px;
  padding-bottom: 40px;
  box-shadow: 0px 0px 50px #8a8a8a;
}

.material-form .container .material-input {
  position: relative;
  margin-bottom: 30px;
}

.material-form .container .material-input input {
  background-color: transparent;
}

.material-form .container .material-input label {
  color: #999;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  width: 100%;
}

.material-form .container .material-input input {
  color: #EFEFEF;
	font-family: Merriweather;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  position: relative;
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid  #9F9F9F;
} /* font when typing in input and thin underline */

.material-form .container .material-input input:focus {
  outline: none;
}

.material-form .container .material-input input:focus + label,
.material-form .container .material-input input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #9F9F9F;
} /* zoomed out titles */

.material-form .container .material-input input:focus ~ .bar:before,
.material-form .container .material-input input:focus ~ .bar:after,
.material-form .container .material-input input:valid ~ .bar:before,
.material-form .container .material-input input:valid ~ .bar:after {
  width: 51%;
  background:  #9F9F9F;
  border-bottom: 0;
} /* thickened underline */

.material-form .container .material-input .bar {
  position: relative;
  display: block;
  width: 100%;
}

.material-form .container .material-input .bar:before,
.material-form .container .material-input .bar:after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0.5px;
  background:  #9F9F9F;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.material-form .container .material-input .bar:before {
  left: 51%;
}

.material-form .container .material-input .bar:after {
  right: 49%;
}

.material-form .container .material-input .bar + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -moz-transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

.material-form .container .material-input .btn {
  padding: 10px 30px;
  border-radius: 2px;
  border: 0;
  background: #DFDFDF;
  color: #9F9F9F;
  text-transform: uppercase;
}

.material-form .container .material-input .btn.btn-cancel {
  background: #E74C3C;
  color: #fff;
}

/* hover colour doesn't work */

.center {
  text-align: center;
}
